In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("data/test.xlsx")

In [3]:
df.head()

,Amazon,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Ebay,Unnamed: 6,Unnamed: 7,Debenhams,Unnamed: 9,SKU 1,Unnamed: 11,Unnamed: 12,Unnamed: 13,SKU 2,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,SKU 3
0,Bottom Size Value,Bottoms Size to Range,Inseam,Body Type,Height Type,Trouser Size,Inside Leg,Size Type,size wtrousersjeans,NaN,Size,32 Long,NaN,NaN,Trouser Size,30,NaN,NaN,Size,L
1,Required,Optional,Optional,Required,Required,Required,Recommended,Recommended,Required,NaN,NaN,NaN,NaN,NaN,Type,Big & Tall,NaN,NaN,NaN,NaN
2,4,4,20,Regular,Regular,10,101 cm,Big & Tall,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,6,21,Plus,Extra Tall,10XL,102 cm,Regular,10-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8,8,22,Slim,Tall,12,103 cm,NaN,10-12L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.